/target
Cargo.lock
.envrc
shell.nix
resources/test/erc20_contract.wasm
resources/test/kv_contract.wasm
resources/test/default_contract.wasm
resources/test/rusty_contract.wasm
.direnv
examples/*/target
